{% extends "base.html.twig" %}
{% block body %}
  <section class="container">
    <h1 class="title is-1">📜 Update library</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit" class="button is-link" value="Update library">
    {{ form_end(form) }}
  </section>
{% endblock %}