@charset "utf-8";
/* CSS Document */

/* ########### BALISES NATIVES */
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  background-image: url("../images/nappe.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

figure img {
  max-width: 100%;
}

/* ########### STRUCTURE */

main {
  width: 1000px;
  min-height: 600px;
  margin: 0 auto;
  padding: 10px;
  background-image: url("../images/fond.jpg");
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

/* ######### HEADER */

main > header {
  position: relative;
  min-height: 250px;
  background-image: url("../images/logo_toto.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 240px;
}

main > header div#ident {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
/* TITRE */
main > header h1 {
  margin: 0;
  padding-top: 60px;
  font-size: 4rem;
  text-align: center;
}
/* BASELINE */
main > header h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* MENU */
main > header nav {
  bottom: 0;
  right: 0;
  position: absolute;
}
main > header nav div#burger {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url('../images/ico_menu.png');
  background-position: left center;
  cursor: pointer;
}
main > header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main > header nav ul li {
  margin: 3px;
  display: inline-block;
  width: 125px;
  height: 50px;
  background-color: #d6ae87;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  color: whitesmoke;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
  transition: all .15s linear;
}

main > header nav ul li:hover, .actif {
  transform: translateY(-2px);
  box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}

main > header nav ul li a {
  display: block;
  height: 100%;
}

/* ######### SECTION */

main > section {
  background-color: transparent;
}

/* ######## Liste des plats */
main > section.liste-des-plats {
  padding: 40px 0;
}
main > section.liste-des-plats > div {
  display: flex;
  margin-bottom: 20px;
}
main > section.liste-des-plats > div > div:first-of-type {
  margin-right: 10px;
}
main > section.liste-des-plats > div > div:last-of-type {
  padding: 0 10px
}
main > section.liste-des-plats div.content-plat span.prix {
  padding: 5px;
  color: #b57a36;
  border: 1px solid #b57a36;
}
main > section.liste-des-plats div.content-plat p a {
  float: right;
  margin-left: 10px;
  padding: 8px;
  color: white;
  background-color: #6cd288;
}
main > section.liste-des-plats div.content-plat p a:last-of-type {
  background-color: #c5b46b
}

/********* PLAT ********/
main > section.plat {
  padding: 0 2rem;
}
main > section.plat figure {
  margin-right: 0;
  margin-left: 0;
}
main > section.plat a {
  padding: 8px;
  color: white;
  background-color: #6cd288;
}
/* SLIDER */
main > section .bx-wrapper div.bx-viewport {
  left: 0;
  border-color: #d6ae87;
}
main > section ul.bxslider {
  padding: 0;
  margin: 0;
}
main > section .bx-wrapper div.bx-caption {
  bottom: 10px;
}

/* RÉSERVATION */
main > section.reserve {
  overflow: hidden;
}
main > section.reserve div.calendar {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;

}
.month-container {
  width: 318px;
  margin: 2px;
  padding: 1px;
  background-color: burlywood;
  text-align: center;
}
.month-container .day {
  width: 44px;
  height: 44px;
  margin: 0 0 1px 1px;
  background-color: #ecdcc0;
  float: left;
  font-size: .8rem;
  line-height: 20px;
}
.month-container .day.word {
  height: auto;
  background-color: #cca068;
}
.day.empty {
  background-color:  transparent;
}
.day.past {
  color: gray;
  background-color: hsla(0, 0%, 83%, 0.65);
}
.day.ok:hover {
  background-color: lightgreen;
}
.day.active {
  background-color: green;
}
.day.busy {
  background-color: #ce4040
}

/* ######### FOOTER */

main > footer {
  margin: 50px 0;
  text-align: center;
}

/* ######## FORMULAIRES */
form.main_form {
  width: 275px;
  margin: 20px auto;
}
form label {
  width: 49%;
  display:  inline-block;
  margin-bottom: 5px;
  text-align: center;
}
form input.error {
  box-shadow: 0 0 10px #e23131;
  border: 1px solid #e23131;
}
form input[type=text], form input[type=password], form input[type=email] {
  border: 1px solid rgb(240, 240, 240);
  width: 275px;
  height: 35px;
  padding: 4px;
  margin: 2px 0;
  color: rgb(62, 62, 62);
}

form input[type=password] {
  width: 200px;
}
form input[type=submit].main_form {
  width: 275px;
  margin-top: 4px;
}
form input[type=submit] {
  border: 0;
  height: 35px;
  text-align: center;
  background-color: #69c369;
  color: whitesmoke;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  cursor: pointer;
  transition: box-shadow .15s linear;
}
form input[type=submit]:hover {
  box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}

/* ############# MEDIA QUERIES ########### */
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin: 0;
  }
  main > header {
    background-size: auto 125px;
    background-position: left 50px;
  }
  main > header h1, main > header h4 {
    text-align: left;
    padding-left: 90px;
  }
}

@media screen and (max-width: 700px) {
  main > header div#ident {
    width: 100%;
    max-width:  100%;
  }
  main > header div#ident form {
    display: flex;
    padding: 0 10px;
  }
  main > header div#ident form > input:not(:last-of-type) {
    margin-right: 5px;
    flex-grow: 1;
    width: initial;
  }
  main > header div#ident form > input:first-of-type {
    flex-grow: 2;
  }
  main > header nav div#burger {
    display: block;
    float: right;
  }
  main > header nav div#burger.active_menu {
    background-position: right center;
  }
  main > header nav {
    position: relative;
    width: 100%;
    margin-top: 25px;
    overflow: auto;
  }
  main > header ul {
    display: none;
  }
  main > header ul.active_menu {
    display:block;
    margin-bottom: 25px;
  }
  main > header nav ul li {
    display: block;
    width: 100%;
    margin: 0;
    box-shadow: initial;
  }
  .actif {
    transform: initial;
    box-shadow: initial;
    background-color: hsla(30, 40%, 62%, 1);
  }
}